---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

 <!-- {% if site.author.googlescholar %} -->
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
## Publications

### Journal Articles
- **Jiaxin Yan**, Cong Liu, Xuan Su, Lijie Wen, Jian Cao & Qingtian Zeng. "A Sub-Process Optimization Method for Inductive Mining." *Computer Integrated Manufacturing Systems*, 1-17.

### Conference Papers
- **Jiaxin Yan**, Cong Liu*, Long Cheng, Jiujun Cheng, Weijian Ni and Qingtian Zeng. "Enhancing Manufacturing Process Discovery Through Sub-Process Optimization," *2025 IEEE International Conference on Web Services (ICWS)*, Helsinki, Finland, 2025, pp. 428-434.

{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      <!-- {% if post.category != category[0] %} -->
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <!-- <h2>{{ category[1].title }}</h2><hr /> -->
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <!-- {% include archive-single.html %} -->
  {% endfor %}
{% endif %} 



